
.div111{
    grid-column-start: 2;
    background-color: white;
    padding: 1.5rem;
    border-radius: 2%;
}

#body {
    background-color: #00296b;
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow-y: hidden;
    overflow-x: hidden;
    overflow: hidden;
    box-sizing: border-box;
}

.configuracoes-container {
  position: relative;
  z-index: 10;
  height: 100%;
  margin-top: 5%;
  margin-bottom: 5%;
}
.grid1{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.voltarHome{
  flex-direction: column;
}

.avisos{
  flex-direction: column;
  padding: 5%;
}

.h111, .h333, .h444{
    color: black;
}

.h333, .h111, .voltarHome, .avisos{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}


.h41{
    display: flex;
    align-items: center;
    justify-content: center;
}

.scroll{
  max-height: calc(100vh - 4rem);
  overflow-y: auto;
  padding-right: 1rem;
  overflow-x: hidden;
  max-width: 100%;
  padding-right: 1rem;
  padding-bottom: 2rem;
  box-sizing: border-box;
}

.scroll::-webkit-scrollbar {
  width: 10px;
}

.scroll::-webkit-scrollbar-track {
  background: #3da5d9;
  border-radius: 10px;
}

.scroll::-webkit-scrollbar-thumb {
  background-color: #00296b;
  border-radius: 10px;
}

.botao{
    --background: #00296b;
    color: white;
    width: 100%;
}

.botao::part(native):hover {
  background-color: #3da5d9;
  color: #00296b;
  border: 3px solid #00296b;
}
