.pagFlashcards, .contF, .card-container {
    --background: var(--cor-branco) !important;
    background-color: var(--cor-branco) !important;
}

.pDarkmode {
    color: var(--cor-preto) !important;
}

.time-display {
    color: var(--cor-cinza) !important;
}

.tempo-stats-container {
    background-color: var(--cor-amareloA2) !important;
}

.tempo-summary-item {
    background-color: var(--cor-branco5) !important;
}

.tempo-label {
    color: var(--cor-cinza3) !important;
}

.legenda {
    color: var(--cor-preto) !important;
}

.btnRelatorio::part(native) {
    background-color: var(--cor-azulE) !important;
}

.btnRelatorio::part(native):hover {
    background-color: var(--cor-azulCL) !important;
}