@media (max-width: 768px) {
    .pagFlashcards {
        padding: 2% !important;
    }
    .btnVerso {
        width: 50%;
        margin-top: 10%;
    }
    .emoji-botoes {
        margin-top: 10%;
    }
}


