.bodyAG {
    --background: var(--cor-branco) !important;
}

.pDarkmode, .day-number, .hora-label {
    color: var(--cor-preto) !important;
}

.laranja {
    --background: var(--cor-laranjaA) !important;
    background-color: var(--cor-laranjaA) !important;
}

.category-select, .tabs {
    background-color: var(--cor-amareloL) !important;
}

.glider {
    background-color: var(--cor-amareloL2) !important;
}

.days-of-week-header {
    background-color: var(--cor-azulE2) !important;
}

.today-highlight {
    background-color: var(--cor-amarela) !important;
    color: var(--cor-laranja) !important;
}

.calendar-day, .hora-label, .calendar-grid.semana-horarios {
    background-color: var(--cor-brancoC) !important;
    border-bottom: 1px solid var(--cor-cinza) !important;
    border-right: 1px solid var(--cor-cinza) !important;
}

.other-month {
    background-color: var(--cor-cinza7) !important;
    color: var(--cor-cinza8) !important;
}

.colAtividades, .colGrafico {
    background-color: var(--cor-azulE2) !important;
}

.txtDescricao {
    color: var(--cor-cinza) !important;
}

.divOfensiva {
    background-color: var(--cor-cinza9) !important;
}

.dayO {
    color: var(--cor-branco7) !important;
}

.dayNO {
    color: var(--cor-cinza7) !important;
}

.day-name {
    color: var(--cor-cinza) !important;
}