.bodyFI, #bodyTelaInicialFlashcards, #revisao, .botaoAbrirEstatisticas {
    --background: var(--cor-branco) !important;
    background-color: var(--cor-branco) !important;
}

.pDarkmode, .titulo-flashcard {
    color: var(--cor-preto) !important;
}

#iconeCapelo {
    background-color: var(--cor-azulEA) !important;
}

#branco, ion-button#btnFechar::part(native), ion-button#btnFechar {
    background-color: var(--cor-brancoC) !important;
}

.estDivs {
    background-color: var(--cor-amarela2) !important;
}

.materia-itemF {
    background-color: var(--cor-azulE2) !important;
}

#txtRevisar {
    color: var(--cor-azulE) !important;
}

#btnMais, ion-button#btnMais::part(native) {
    color: var(--cor-preto) !important;
}

.info-cards {
    color: var(--cor-cinza) !important;
}

.btnFlash::part(native) {
    background-color: var(--cor-branco4) !important;
    border: 0.5px solid var(--cor-azulE) !important;
    color: var(--cor-preto) !important;
}

.btnFecharOpcoes::part(native) {
    border: 0.5px solid #ce2711 !important;
}

.btnFecharOpcoes::part(native):hover, .btnMostrar::part(native):hover {
    color: var(--cor-azulE) !important;
}

ion-button.btnEstudar::part(native):hover {
    color: #fec601 !important;
    pointer-events: auto !important;
} 
  
ion-button.btnEditar::part(native):hover {
    color: #3da5d9 !important;
    pointer-events: auto !important;
}

ion-button.btnExcluir::part(native):hover {
    color: #ce2711 !important;
    pointer-events: auto !important;
}

ion-modal.modalFlashcards::part(content) {
    --ion-background-color: var(--cor-azulM) !important;
    --background: var(--cor-azulM) !important;
    background: var(--cor-azulM) !important;
    background-color: var(--cor-azulM) !important;
}

.fecharEditor, ion-button.fecharEditor::part(native) {
    color: var(--cor-cinza) !important;
    --color: var(--cor-cinza) !important;
}

.card-side {
    background-color: var(--cor-branco5) !important;
}

.verTopicos::part(native) {
    background-color: var(--cor-azulE) !important;  
}

.verTopicos::part(native):hover {
    background-color: var(--cor-azulCL) !important;  
}

#btnEstudar::part(native):hover {
    background-color: var(--cor-azulL) !important;  
}