#bodyTelaInicialFlashcards {
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin-top: 2%;
}

#btnAlerta, .revisaoGeral {
    pointer-events: auto; 
}

#revisao {
    margin-right: 10%;
    margin-left: 10%;
}

#dCapelo {
    max-width: fit-content;
    padding: 1%;
}

#divisoes {
    display: flex;
    flex-direction: column;
}

#linhaDecks {
    margin-top: 1%;
    padding: 0;
    width: 100%;
    background-color:  #3da5d9;
    border-top: 2px solid #c0c0c0;
    display: flex;
    justify-content: center;
}

#revisao {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 20%;
}

#d1 {
    margin-left: 1%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#iconeCapelo {
    font-size: 7rem;
    color: white;
    background-color: #00296b;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 2%;
    padding-right: 3%;
    border-radius: 20px;
}

.colFlex {
    display: flex;
    justify-content: flex-end;
  }

.popoverGeral {
    width: 40%;
    background-color: transparent;
}

#branco {
    padding-left: 1%;
    width: 40%;
    background-color: white;
}

ion-popover.popoverGeral::part(content) {
    background-color: transparent;
    width: 40%;
    min-width: unset !important;
    max-width: unset !important;
}

.topico-box {
    background-color: #f8f8f8;
    padding: 12px 16px;
    margin-bottom: 8px;
    border-radius: 8px;
    font-size: 16px;
    border: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0,0,0,0.05);
    list-style: none;
  }
  
  .topico-box:hover {
    background-color: #e6edff;
  }

  .listaTopicos {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 0;
    margin: 0;
  }
