#bodyTelaInicialFlashcards {
    background-color: white;
}

.txtGeral {
    font-family: Gill Sans, sans-serif;
    font-weight: 700;
    font-size: 2rem;
    padding: 0 !important;
    margin: 0 !important;
}

.revisaoGeral {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 16px 32px;
    background-color: #ea7317;
    border: 8px solid #fec601;
    color: white;
    gap: 8px;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s;
    width: 100%;
    height: 25%;
  }

  ion-button.revisaoGeral::part(native) {
    background-color: #ea7317;
    box-shadow: none;
}

  .textIniciar {
    font-size: 1.5em;
    font-weight: 700;
    letter-spacing: 1px;
    padding-right: 10%;
  }

  #btnIniciar {
    padding-top: 5px;
    height: 100%;
    width: fit-content;
  }

 #btnIniciar svg {
    width: 20%;
    height: 10%;
  }
  .revisaoGeral:hover {
    border: 8px solid #c29800;
    background-color: #d45c00;
  }
  .revisaoGeral:active {
    border: 5px solid #af4c00;
  }
  .revisaoGeral:hover #btnIniciar svg {
    all: unset;
    animation: jello-vertical 0.9s both;
    transform-origin: left;
  }
  
  @keyframes jello-vertical {
    0% {
      transform: scale3d(1, 1, 1);
    }
    30% {
      transform: scale3d(0.75, 1.25, 1);
    }
    40% {
      transform: scale3d(1.25, 0.75, 1);
    }
    50% {
      transform: scale3d(0.85, 1.15, 1);
    }
    65% {
      transform: scale3d(1.05, 0.95, 1);
    }
    75% {
      transform: scale3d(0.95, 1.05, 1);
    }
    100% {
      transform: scale3d(1, 1, 1);
    }
  }
  
#btnAlerta, #btnFechar {
  all: unset;
  cursor: pointer;
  z-index: 999999999;
}

ion-button#btnAlerta::part(native) {
  all: unset;
  cursor: pointer;
  z-index: 999999999;
}

#iconeAlerta {
  font-size: 1.5rem;
  color: #3da5d9;
  cursor: pointer;
}

ion-button#btnAlerta:hover {
  cursor: pointer;
}
 
#iconeFechar {
  font-size: 1.5rem;
  color: #ce2711;
  cursor: pointer;
}

ion-button#btnFechar::part(native) {
  all: unset;
  cursor: pointer;
  z-index: 999999999;
}

#btnFechar {
  display: flex;
  justify-content: flex-end;
}

#pDecks {
  font-size: 1.2rem;
  font-weight: 700;
}

.txtGrande {
  padding: 0 !important;
  margin: 0 !important;
}

.estDivs {
    border-radius: 20px;
    background-color: #fff7d8;
    padding: 2%;
    padding-bottom: 0;
}

#txtRevisar {
  font-weight: 600;
  color: #00296b;
}

ion-button#btnEstudar::part(native) {
  all: unset;
  cursor: pointer;
  z-index: 999999999;
  background-color: #3da5d9;
  width: 1000%;
  border-radius: 15px;
}

#btnEstudar {
  display: flex;
  justify-content: flex-start;
  width: 60%;
}

ion-button#btnMais::part(native) {
  all: unset;
  cursor: pointer;
  z-index: 999999999;
  border: 2px solid #3da5d9;
  width: 100%;
  border-radius: 15px;
  color: black;
  font-size: 1.2rem;
}

#btnMais {
  display: flex;
  justify-content: flex-start;
  width: 20%;
}

.livroF {
  font-size: 3rem;
  color: #3da5d9;
}