.titSenha {
    font-size: 2rem !important;
    font-weight: 700;
    text-align: center;
}

.pSenha {
    text-align: center;
    padding: 0;
    margin: 0;
    font-size: 1rem !important;
    color: rgb(94, 94, 94);
}

#divAzul {
    width: 3.2rem !important;
    height: 3.2rem;
    border-radius: 100%;
    background-color: #3da5d9;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5%;
}

.email {
    color: #00296b;
    font-size: 1.5rem !important;
}

.btnSenhas {
    width: 100% !important;
}

ion-button.btnEnviar {
    --background: #3da5d9; 
    --color: #fff; 
    margin: 1% !important;
    border-radius: 12px;    
    width: 100%;     
}

ion-button.btnEnviar::part(native) {
    border-radius: 12px;    
}

ion-button.btnEnviar::part(native):hover {
    background-color: #00296b;
    cursor: pointer;
}

#imgFim {
    background-image:  url('/imgs/pessoaFim.jpeg');
    background-repeat: no-repeat; 
    background-size: cover;       
    background-position: center;
}
