.ladoPerfil, #imgM {
    background-color: var(--cor-azulC2);
}

#imgM {
    border-bottom: 4px solid var(--cor_azulE) !important;
}

.ladoConfig{
    background-color: var(--cor-branco);
}

.btnConfigg, .iconesSeta, .iconeSair {
    color: var(--cor-branco2) !important;
}

.btnConfigg:hover {
    color: var(--cor-azulC3) !important;
}

.btnConfigg:hover .iconesSeta {
    color: var(--cor-azulC3) !important;
}

.btnConfigg:hover .iconeSair {
    color: var(--cor-azulC3) !important;
}

#opsConfig .radio {
    background-color: var(--cor-branco2);
}

.name {
    color: var(--cor-cinza2) !important;
}

#opsConfig .radio input:checked + .name {
    background-color: var(--cor-branco2);
}

.btnConfigg:hover {
    color: var(--cor-azulE);
    .iconeSair {
        color:  var(--cor-azulE);;
    }
    .iconesSeta {
        color:  var(--cor-azulE);;
    }
}

.iconeSairM {
    color: var(--cor-azulE);
}

.btnSairM {
    color: var(--cor-preto);
}

.btnConfiggM:hover {
    color: var(--cor-azulE);
    .iconeSairM {
        color:  var(--cor-azulE);;
    }
}

#contOpsConfig, #confGerais, .pagPerfilM {
    background-color: var(--cor-branco) !important;
}

.preto {
    color: var(--cor-preto) !important;
}

.iconesSeta {
    color: var(--cor-branco);
}

.iconeSair {
    color: var(--cor-branco);
}

#dBranco {
    background-color: var(--cor-branco) !important;
    color: var(--cor-preto);
}

.labelBio {
    color: var(--cor-preto) !important;
}

ion-button.btnConfigBio {
    --background: var(--cor-azulE); 
    --color: var(--cor-branco); 
}

ion-button.btnConfigBio::part(native):hover {
    background-color: var(--cor-azulC);
}

#excSenha, #excSenhaM {
    background-color: var(--cor-laranja);
}

.excp {
    color: var(--cor-branco);
}

.excpM {
    color: var(--cor-branco);
}

#linhaVertical {
    border-right: 2px dotted var(--cor-laranja);
}

#linhaHorizontal {
    border-right: 2px dotted var(--cor-laranja);
}


ion-button.btnAddDM {
    --background: var(--cor-azulE); 
    --color: var(--cor-branco);    
}

ion-button.btnAddDM::part(native):hover {
    background-color: var(--cor-azulC);
    cursor: pointer;
}

ion-checkbox {
    --checkbox-background-checked: var(--cor-laranja) !important;
    --border-color-checked: var(--cor-laranja) !important;
    --checkmark-color: var(--cor-branco) !important;
}

ion-checkbox#check {
    --checkmark-color: var(--cor-branco) !important;
}