.altura {
  height: 100vh;
}

.pagPerfil {
    height: 100% !important;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr;
}

.ladoPerfil {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    display: flex;
    flex-direction: column;
    align-items: flex-start;   
    justify-content: center;   
    pointer-events: none !important;
    height: 100%;
}

#flexColunas {
  display: flex;
  flex-direction: row;
  align-items: flex-start;   
  justify-content: center;  
}

.colunasConfig {
  width: 100%;
}

  #img {
    width: 100%;
    padding: 5%;
    display: flex;
    align-items: flex-start;   
    justify-content: space-around;   
    height: fit-content;
  }
  
  #iconePerfil {
    align-self: flex-start;
    font-size: 10rem;
    color: white;
    margin: 0;
    padding: 0;
  }

#linhaDivisora {
  height: 5px;
  width: 100%;
  border-bottom: 2px solid white;
  margin-bottom: 4%;
}

#configs {
    padding-left: 2%;
    display: flex;
    flex-direction: row;
}

#dBranco {
  display: flex;
  flex-direction: column;
  width: 90%;
  max-height: fit-content;
  height: fit-content; 
  overflow: hidden;
  padding-bottom: 0;
  margin-bottom: 0;
}

.rowContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 5%;
  max-height: 5%;
}

.contConfig {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-right: 5%;
  height: 100%;
}

.cor {
  width: 6px;
  height: 40px;
}

#col2 {
  padding-right: 5%;
}

.containerConfig {
  text-align: center;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-top: 2%;
}

.ladoConfig, .ladoEstudo {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    padding-left: 5%;
}

.msmLinha {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2%;
}

#flexColunasEstudo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}