.pagPerfil {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr;
}

.ladoPerfil {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    display: flex;
    flex-direction: column;
    justify-content: flex-start !important;
    align-items: flex-start !important;
    pointer-events: none;
}

  #img {
    width: 100%;
    padding: 5%;
    display: flex;
    align-items: flex-start;   
    justify-content: space-around;   
    height: fit-content;
  }
  
  #iconePerfil {
    align-self: flex-start;
    font-size: 10rem;
    color: white;
    margin: 0;
    padding: 0;
  }

#linhaDivisora {
  height: 5px;
  width: 100%;
  border-bottom: 2px solid white;
  margin-bottom: 4%;
}

#configs {
    padding-left: 2%;
    display: flex;
    flex-direction: column;
}

.rowContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  max-height: 10%;
}

.contConfig {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-right: 5%;
  height: 100%;
}

.cor {
  width: 6px;
  height: 80%;
}

#tema {
  background-color: rgb(20, 197, 197);
}

#som {
  background-color: rgb(20, 147, 197);
}

#idioma {
  background-color: rgb(197, 171, 20);
}

#notificacoes {
  background-color: rgb(46, 163, 0);
}

#resetar {
  background-color: rgb(197, 32, 20);
}


.containerConfig {
  text-align: center;
  padding: 0;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.ladoConfig {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    padding-left: 5%;
}