.icones.ativo, .iconesTxt.ativo {
  color: #ffe99d; 
}
.ladoPerfil, #imgM {
    background-color: var(--cor-azulC);
}

.ladoConfig{
    background-color: var(--cor-branco);
}

#txtOi {
    color: white;
    font-size: 3rem;
    font-weight: 600;
    align-self: center;
    text-align: center;
}

h1 {
    color: white !important;
    font-size: 1.5rem !important;
    font-weight: 600;
}

.btnConfigg {
    all: unset;
    color: var(--cor-branco);
    font-size: 1.5rem !important;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    cursor: pointer !important;
    pointer-events: auto;
    z-index: 1;
    position: relative;
}

ion-button.btnConfigg::part(native) {
    all: unset;
    width: auto;
    text-align: left;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.btnConfigg:hover {
    color: var(--cor-azulE);
    .iconeSair {
        color:  var(--cor-azulE);;
    }
    .iconesSeta {
        color:  var(--cor-azulE);;
    }
}

.iconeSairM {
    color: var(--cor-branco);
}

.btnConfiggM:hover {
    color: var(--cor-azulE);
    .iconeSairM {
        color:  var(--cor-azulE);;
    }
}

.btnConfiggM {
    all: unset;
    color: var(--cor-branco);
    font-size: 1rem !important;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    cursor: pointer !important;
    pointer-events: auto;
    z-index: 1;
    position: relative;
    background-color: var(--cor-azulC);
    width: 20%;
    height: 2.2rem;
    border-radius: 20px;
}

ion-button.btnConfiggM::part(native) {
    all: unset;
    width: auto;
    text-align: left;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.preto {
    color: var(--cor-preto) !important;
}

#h1Titulo {
    font-size: 2.5rem !important;
}

.iconesSeta {
    color: var(--cor-branco);
    font-size: 1.5rem;
}

.iconeSair {
    color: var(--cor-branco);
    font-size: 2rem;
}

.titConfig {
    margin: 0 !important;
}

#tema {
    background-color: rgb(20, 197, 197);
  }
  
  #som {
    background-color: rgb(20, 147, 197);
  }
  
  #idioma {
    background-color: rgb(197, 171, 20);
  }
  
  #notificacoes {
    background-color: rgb(46, 163, 0);
  }
  
  #resetar {
    background-color: rgb(197, 32, 20);
  }

#dBranco {
    background-color: var(--cor-branco) !important;
    padding-left: 3%;
    border-radius: 20px;
    color: var(--cor-preto);
}

.labelBio {
    color: var(--cor-preto) !important;
    font-size: 1.5rem !important;
    font-weight: bold;
    padding: 0 !important;
}

ion-input.inputBio{
    padding: 10px;
  }

.inputBio{
    font-size: 1rem;
}

.inputBio {
    border: 2px solid #d6d6d6; 
    border-radius: 8px;        
    padding-right: 1%;     
    padding-left: 1%;
    padding-top: 0 !important;    
    padding-bottom: 0 !important;         
    width: 90%;                
    box-sizing: border-box;     
  }

.inputBioSenha, .inputBioSenhaM {
    margin-bottom: 2%;
    border: 2px solid #d6d6d6; 
    border-radius: 8px;        
    padding-right: 1%;     
    padding-left: 1%;
    padding-top: 0 !important;    
    padding-bottom: 0 !important;         
    width: 100%;                
    box-sizing: border-box;  
}

ion-button.btnConfigBio {
    --background: var(--cor-azulE); 
    --color: var(--cor-branco); 
    border-radius: 12px;    
    width: 40%;     
}

ion-button.btnConfigBio::part(native) {
    border-radius: 12px;    
}

ion-button.btnConfigBio::part(native):hover {
    background-color: var(--cor-azulC);
    cursor: pointer;
}

#btnSalvarBio {
    margin-top: 3%;
}

#btnAlterarBio {
    margin-bottom: 3%;
}

#excSenha, #excSenhaM {
    border-radius: 20px;
    background-color: var(--cor-laranja);
    padding-left: 5%;
    padding-bottom: 2%;
    padding-right: 2%;
}

#excSenhaM {
    margin-right: 5% !important;
}

#boldExc {
    font-weight: 700;
    font-size: 1.4rem;
}

#boldExcM {
    font-weight: 700;
    font-size: 1.2rem;
}

.excp {
    color: var(--cor-branco);
    font-size: 1.2rem;
}

.excpM {
    color: var(--cor-branco);
    font-size: 1rem;
}

.iconesBio {
    color: #fec601;
    font-size: 1.3rem;
}

#linhaVertical {
    width: 2px !important;
    border-right: 2px dotted var(--cor-laranja);
    margin-right: 2%;
}

#linhaHorizontal {
    width: 100% !important;
    border-right: 2px dotted var(--cor-laranja);
    margin-right: 2%;
}

.pEstudo {
    font-weight: 700;
    font-size: 1.4rem;
}

ion-button.btnAddDM {
    --background: var(--cor-azulE); 
    --color: var(--cor-branco); 
    border-radius: 12px;    
    width: 40%;     
}

ion-button.btnAddDM::part(native) {
    border-radius: 12px;    
}

ion-button.btnAddDM::part(native):hover {
    background-color: var(--cor-azulC);
    cursor: pointer;
}

ion-checkbox {
    --checkbox-background-checked: var(--cor-laranja) !important;
    --border-color-checked: var(--cor-laranja) !important;
    --checkmark-color: var(--cor-branco) !important;
  }

  ion-checkbox#check {
    --checkbox-background-checked: #058f00 !important;
    --border-color-checked: #058f00 !important;
    --checkmark-color: var(--cor-branco) !important;
  }

