@media (max-width: 320px) {
    .timer-display {
        font-size: 5rem;
    }
    .bodyE.light {
        background-image: url('/imgs/estudo4.png');
    }
    .bodyE.dark {
        background-image: url('/imgs/estudo4Darkmode.png');
    }
    .btnIniciarPausar, .btnEstudo {
        width: 50%;
    }
    .btnIniciarPausar{
        width: 20rem;
    }
    .btnIniciarPausar::part(native) {
        font-size: 1.8rem !important;
    }
}

@media (min-width: 321px) and (max-width: 425px) {
    .timer-display {
        font-size: 6rem;
    }
    .bodyE.light {
        background-image: url('/imgs/estudo4.png');
    }
    .bodyE.dark {
        background-image: url('/imgs/estudo4Darkmode.png');
    }
    .btnIniciarPausar, .btnEstudo {
        width: 40%;
    }
    .btnIniciarPausar{
        width: 20rem;
    }
}

@media (min-width: 426px) and (max-width: 768px) {
    .bodyE.light {
        background-image: url('/imgs/estudo3.png');
    }
    .bodyE.dark {
        background-image: url('/imgs/estudo3Darkmode.png');
    }
    .btnIniciarPausar, .btnEstudo {
        width: 30%;
    }
    .btnIniciarPausar{
        width: 14rem;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .bodyE.light {
        background-image: url('/imgs/estudo2.png');
    }
    .bodyE.dark {
        background-image: url('/imgs/estudo2Darkmode.png');
    }
    .btnIniciarPausar, .btnEstudo {
        width: 20%;
    }
}

@media (min-width: 1025px) {
    .bodyE.light {
        background-image: url('/imgs/estudo1.png');
    }
    .bodyE.dark {
        background-image: url('/imgs/estudo1Darkmode.png');
    }
    .btnIniciarPausar, .btnEstudo {
        width: 10%;
    }
}

