.pagina {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

ion-button {
  text-transform: none;
}

.topicos-list {
  display: flex;
  justify-content: flex-start;
  gap: 5%;
  margin-right: 15%;
  margin-left: 15%;
}

.topico-item {
  display: flex;
  flex-direction: column;
  border: 1px solid #ddd;
  border-radius: 12px;
  padding: 12px;
  background-color: white;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
  min-height: 50%;
  width: 100%;
  cursor: pointer;
}

.topico-item .icon-placeholder {
  width: 40px;
  height: 40px;
  background-color: #ddd;
  border-radius: 4px;
  margin-bottom: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.topico-item h2 {
  margin: 0;
  font-size: 16px;
  font-weight: 600;
}

.topico-item p {
  margin: 2px 0 12px;
  font-size: 14px;
  color: #444;
}

.topico-item .progress-bar {
  height: 6px;
  background-color: #e0e0e0;
  border-radius: 3px;
  overflow: hidden;
}

.topico-item .progress-bar-fill {
  height: 100%;
  width: 40%; /* exemplo: ajustar dinamicamente */
  background-color: #000;
}

  
  .error-message {
    color: #e74c3c;
    text-align: center;
    margin-top: 20px;
  }

  .botao-adicionar {
    position: fixed;  /* Fixa o botão na tela */
    bottom: 20px;     /* Distância da parte inferior da tela */
    right: 20px;      /* Distância da parte direita da tela */
    width: 60px;      /* Largura do botão */
    height: 60px;     /* Altura do botão */
    border-radius: 50%;  /* Torna o botão redondo */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    font-size: 2rem;
    background-color: white !important;
    color: #00296b !important; 
    border-color: #00296b !important; 
  }
  
  ion-button.botao-adicionar {
    --background: white !important; 
    --color: #00296b !important;   
    border-color: #00296b !important;      
  }

  ion-button.botao-adicionar::part(native) {
    background-color: white !important;
    color: #00296b !important; 
    border-color: #00296b !important; 
  }

  ion-button.botao-adicionar::part(native):hover {
    background-color: #3da5d9 !important;
    color: white !important;
    cursor: pointer;
  }

  .icone::part(icon) {
    font-size: 28px;
    width: 28px;
    height: 28px;
  }