.linhaHorizontal {
    border-bottom: 2px solid #c0c0c0;  
    margin-bottom: 5%; 
    margin-right: 15%;
    margin-left: 15%;
  }
  
.titulo {
    font-family: Gill Sans, sans-serif;
    font-weight: 700;
    padding: 0 !important;
    text-align: center;
}

h1 {
    margin-top: 2% !important;
    font-size: 3rem;
}

ion-modal.modalAdd {
    --max-height: 60%;
    height: auto;
}

ion-modal.modalAdd::part(content) {
    border-radius: 16px; 
  }

#pagAdicionar {
    display: flex;
    flex-direction: column;
    height: auto;
}

ion-input.input input {
    padding: 10px;
  }

.input {
    font-size: 1rem;
}

.input {
    border: 2px solid #d6d6d6; 
    border-radius: 8px;        
    padding-right: 1%;     
    padding-left: 1%;
    padding-top: 0 !important;    
    padding-bottom: 0 !important;         
    width: 100%;                
    box-sizing: border-box;     
  }

ion-button.btnSalvar {
    margin-top: 7%;
    --background: #00296b; 
    --color: #fff;        
  }

  ion-button.btnSalvar::part(native) {
    border-radius: 12px;  
  }

  ion-button.btnSalvar::part(native):hover {
    background-color: #3da5d9;
    cursor: pointer;
  }

.label{
    font-size: 1.5rem;
    font-weight: bold;
    padding: 0 !important;
    margin-bottom: 1% !important;
    margin-top: 2% !important;
}

.barra {
  width: 100%;
  height: 8px;
  background-color: #e0e0e0;
  border-radius: 4px;
  margin-top: 8px;
}

.barraStatus {
  height: 100%;
  border-radius: 4px;
  background-color: #ea7317; 
  transition: width 0.3s ease-in-out;
}

.livro {
  font-size: 3rem;
}