@media (max-width: 767px) {
    .materia-item {
        height: 60%;
        margin-top: 5%;
    }
     .btnIrTopicos {
        width: 60%;
      }
}

@media (max-width: 768px) {
    .materia-item {
        width: 100%;
    }
}

@media (min-width: 798px) {
    .materia-item {
        width: 45%;
    }
}

@media (max-width: 767px) {
    ion-modal.modalAdd {
        padding-right: 5%;
        padding-left: 5%;
    }

    ion-button.opcoes::part(native) {
        max-width: 100%;
        min-width: 70%;
    }
    .imgMobile {
        max-width: 3rem !important;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    ion-modal.modalAdd {
       --max-height: 30%;
    }

    ion-button.opcoes::part(native) {
        max-width: 30%;
        min-width: 10%;
    }
}

@media (min-width: 1025px) {
    ion-button.opcoes::part(native) {
        max-width: 100%;
        min-width: 70%;
    }
}

@media (max-width: 320px) {
    .txtTitMat {
        font-size: 1rem !important;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .btnIrTopicos {
        width: 60%;
      }
}