.configuracoes-container{
    display: grid;
    place-items: center;
    grid-template-columns: 1fr 1fr;
    .div1{
        grid-column-start: 1;
    }
    .div2{
        grid-column-start: 2;
    }
}