@media screen and (max-width: 768px) {
    #header {
      display: none;
    }
  
    #headerMobile {
      display: flex;
    }
  }
  
@media screen and (min-width: 769px) {
    #headerMobile {
      display: none;
    }
}
  