.azul {
    background-color: #00296b;
}

.icones {
    font-size: 2rem; 
    color: white;
}

.iconesTxt {
    font-size: 1rem; 
    color: white;
}

.iconesMobile {
    font-size: 2rem; 
    color: white;
}

#menu {
    padding-right: 3%;
}

#linksMenu {
    display: flex;
    flex-direction: column;
    gap: 3%;
}

#iconeMenu {
    margin-bottom: 10%;
}