.azul {
    background-color: #00296b;
}

.icones {
    font-size: 2rem; 
    color: white;
}

.iconesTxt {
    font-size: 0.7rem; 
    color: white;
}

.iconesMobile {
    font-size: 1.5rem; 
    color: white;
}

#menu {
    padding-right: 3%;
}

#linksMenu {
    display: flex;
    flex-direction: column;
    gap: 3%;
    z-index: 200000;
    width: 100%;
    padding: 0;
}

#iconeMenu {
    margin-bottom: 10%;
}