* {
    font-family: "Karla", sans-serif !important;
}

.azul {
    background-color: #00296b;
}

.icones {
    font-size: 2.5rem; 
    color: white;
}

.iconesTxt {
    font-size: 1.1rem !important; 
    color: white;
    margin-left: 2%;
}


.iconesMobile {
    font-size: 1.5rem; 
    color: white;
}

.icones:hover {
    color: #3da5d9;
}

.icones:hover + .iconesTxt {
    color: #3da5d9;
}

#menu {
    padding-right: 3%;
}

#linksMenu {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0;
    margin-left: 5%;
}

#iconeMenu {
    margin-bottom: 10%;
}

.menu2, .IonTabButton {
    cursor: pointer;
}

/*botao*/

.menu-line {
    fill: none;
    background-color: transparent;
    stroke: white !important;
    cursor: pointer;
    width: 10%; 
    stroke-width: 6;
    transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
                stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-line1 {
    stroke-dasharray: 60 207;
}
.menu-line2 {
    stroke-dasharray: 60 60;
}
.menu-line3 {
    stroke-dasharray: 60 207;
}

.opened .menu-line1 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
}

.opened .menu-line2 {
    stroke-dasharray: 1 60;
    stroke-dashoffset: -30;
}

.opened .menu-line3 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
}
