.bodyT {
    --background: var(--cor-branco) !important;
}

.titDarkMode {
    color: var(--cor-preto) !important;
}

.topicos-list {
    background-color: var(--cor-branco) !important;
}

ion-item.topico-item, .topico-label, .item-native::part(native) {
    background-color: var(--cor-azulE2) !important;
    --background: var(--cor-azulE2) !important;
}

.topico-item {
    border-color: var(--cor-cinzaA) !important;
}

.pDarkmode, .txtTitMat {
    color: var(--cor-preto) !important;
}

#txtConc {
    color: var(--cor-azulE) !important;
}

ion-button.config {
    --background: var(--cor-branco) !important;
    --color: var(--cor-preto) !important;
}

ion-modal.modalAddTopico::part(content) {
    --ion-background-color: var(--cor-azulM) !important;
    --background: var(--cor-azulM) !important;
    background: var(--cor-azulM) !important;
    background-color: var(--cor-azulM) !important;
}

.inputDarkmode::part(native)::placeholder {
    color: var(--cor-preto) !important;
    --color: var(--cor-preto) !important;
}

.btnSalvarDarkmode::part(native) {
    background-color: var(--cor-azulE) !important;
}

.popoverEE::part(content) {
    --background: var(--cor-branco) !important; 
    background-color: var(--cor-branco) !important;
}

.opcoes::part(native) {
    --background: var(--cor-branco) !important; 
    background-color: var(--cor-branco) !important;
    color: var(--cor-preto) !important;
}

#lixo {
    color: var(--cor-lixo) !important;
}
  