#s1 {
    background-color: #f1ebd7;
}

#s3 {
    background-color: #3da5d9;
}

.titulo {
    font-family: Gill Sans, sans-serif;
    font-weight: 700;
    font-size: 3rem !important;
    text-align: left !important;
    padding: 0 !important;
}

.subtitulo {
    font-family: Gill Sans, sans-serif;
    font-weight: 500;
    font-size: 2rem;
    text-align: left;
    padding: 0;
}

h1 {
    padding: 0;
}

.iconesM {
    font-size: 5rem; 
    color: white;
}

#m1 {
    background-color: rgb(24, 136, 211);
}

#m2 {
    background-color: rgb(58, 128, 18);
}

#m3 {
    background-color: rgb(161, 85, 22);
}

#m4 {
    background-color: rgb(185, 39, 39);
}

.iconesTxtM {
    font-size: 1.2rem; 
    color: white;
}