.cadastro-container{
    .div1{
        padding: 10%;
    }
    .div2{
        display: flex;
        padding: 10%;
        height: 77%; 
        position: relative;
        overflow: hidden;
        padding: 2rem;

        h1, #img{
            position: relative;
            z-index: 2;
            text-align: center;
        }
    }
}

.botaoLogin {
  width: 100%;
}

ion-button.botaoLogin::part(native) {
margin: 20px 0 10px 0;
background-color: #3da5d9;
box-shadow: none;
color: white;
border-radius: 20px;
height: 50px;
cursor: pointer;
border: 1px solid #00296b;
}

.botaoLogin::part(native):hover {
background-color: #00296b;
color: #3da5d9;
}

ion-button.botao::part(native) {
  margin: 20px 0 10px 0;
  background-color: #ea7317;
  box-shadow: none;
  color: white;
  border-radius: 20px;
  height: 50px;
  cursor: pointer;
  border: 1px solid #fec601;
  }
  
  .botao::part(native):hover {
  background-color: #fec601;
  color: #ea7317;
  }

h1,h3,h4{
    margin: 0;
}

#img{
    display: flex;
    align-items: flex-end;
    height: 100%;
}

.conteudo {
    position: relative;
    z-index: 2; /* texto por cima das bolas */
    text-align: center;
  }

  .bola {
    position: absolute;
    width: 300px;
    height: 300px;
    z-index: 1;
  }

  .bola1 {
    top: -150px;
    left: -150px;
  }
  
  .bola2 {
    bottom: -150px;
    right: -150px;
  }
  
  .bola3 {
    top: 50%;
    left: -150px;
  }