@media (min-width: 1025px){ /*widescreen*/
    .cadastro-container{
        display: grid;
        grid-template-rows: 1fr 15fr;
        grid-template-columns: 1fr 4fr 4fr 1fr;
        height: 100%;
        width: 100%;
    }
    .voltar{
        grid-row-start: 1;
        grid-column-start: 1;
        .imgSize{
            width: 50px;
        }
    }
    .div1{
        grid-row-start: 2;
        grid-column-start: 2;
        height: 100%;
        width: 70%;
        padding: 10%;
    }
    .div2{
        grid-row-start: 2;
        grid-column-start: 3;
    }
    .h1{
        font-size: 2.0rem !important;
    }
    .h2{
        font-size: 1.3rem !important;
    }
    .h3{
        font-size: 1.2rem !important;
    }
}

@media (min-width: 768px) and (max-width: 1024px) { /*laptop e tablet*/
    .cadastro-container{
        display: grid;
        place-items: center;
        grid-template-columns: 1fr 4fr 4fr 1fr;
        grid-gap: 0.2rem;
        height: 100%;
        .div1{
            grid-column-start: 2;
            height: 100%;
            width: 100%;
            border-top-left-radius: 5%;
            border-bottom-left-radius: 5%;
        }
        .div2{
            grid-column-start: 3;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100%;
            width: 100%;
            border-top-right-radius: 5%;
            border-bottom-right-radius: 5%;
        }
        h1{
            font-size: 1.5rem !important;
            color:black !important;
        }
        h3{
            font-size: 0.9rem !important;
        }
        #body{
            padding: 5%;
        }
    }
}

@media (max-width: 767px) { /*mobile*/
    .cadastro-container{
        display: grid;
        place-items: center;
        grid-template-columns: 1fr 7fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-gap: 2px;
        height: 100vh;
        .div2{
            grid-column-start: 2;
            grid-row-start: 1;
            display: flex;
            align-items: center;
            flex-direction: row;
            border-top-right-radius: 5%;
            border-top-left-radius: 5%;
            border-bottom-right-radius: 0%;
            border-bottom-left-radius: 0%;
            #org{
                display: flex;
                align-items: center;
                
                #img{
                    display: flex;
                    align-items: center;
                    width: 200%;
                }
            }
        }
        .div1{
            grid-column-start: 2;
            grid-row-start: 2;
            margin: 3%;
            max-width: 100%;
            border-bottom-right-radius: 5%;
            border-bottom-left-radius: 5%;
            border-top-right-radius: 0%;
            border-top-left-radius: 0%;
            display: flex;
            flex-direction: column;
        }

        h1{
            font-size: 1.5rem !important;
            color:black !important;
        }
        h3{
            font-size: 0.9rem !important;
        }
    }
}

@media (max-width: 320px) { /*mobile*/
    .div2{
        width: 100%;
    }
    .div1{
        width: 100%;
    }
    h1{
        font-size: 1.5rem !important;
        color:black !important;
    }
    h3{
        font-size: 0.9rem !important;
    }
}

