.cadastro-container{
    .div1{
        background-color: #f7d868;
    }
    .div2{
        background-color: white;
    }
    .h1, .h1e{
        color: black !important;  
    }
}

.linhas {
  border-bottom: rgb(155, 155, 155) 2px solid;
  width: 40%;
}
.txtLinha {
  display: none;
}

.h3 {
  padding-left: 5%;
  padding-right: 5%;
  font-size: 1rem;
}

#body{
    background-color: #00296b;
}

  .bola {
    border-radius: 50%;
    background: linear-gradient(45deg, #00296b, #3da5d9);
    opacity: 0.6;
  }

  input{
    border: 1.5px solid #ecedec;
    border-radius: 10px;
    width: 100%;
    display: flex;
    align-items: center;
    padding-left: 10px;
    padding: 3%;
    transition: 0.2s ease-in-out;
    background-color: white;
    margin-bottom: 2px;
  }

.btnLogin {
  width: 100%;
}

  ion-button.btnLogin::part(native) {
    margin: 20px 0 10px 0;
    background-color: #3da5d9 ;
    border: 1.5px solid #00296b;
    box-shadow: none;
    color: white;
    border-radius: 20px;
    cursor: pointer;
    padding: 5%;
}

.btnLogin::part(native):hover {
  background-color: #00296b;
  border: 1.5px solid #3da5d9;
}

.btnCadastrar {
  width: 100%;
}

ion-button.btnCadastrar::part(native) {
    margin: 20px 0 10px 0;
    background-color: #3da5d9 ;
    border: 1.5px solid #00296b;
    box-shadow: none;
    color: white;
    border-radius: 20px;
    cursor: pointer;
    padding: 5%;
}

.btnCadastrar::part(native):hover {
background-color: #00296b;
border: 1.5px solid #3da5d9;
}

.btnGoogle {
  width: 100%;
}

ion-button.btnGoogle::part(native) {
  margin: 20px 0 10px 0;
  background-color: #ea7317;
  border: 1.5px solid #974200;
  box-shadow: none;
  color: white;
  border-radius: 20px;
  cursor: pointer;
  padding: 5%;
}

.btnGoogle::part(native):hover {
  border: #ea7317 2px solid;
  background-color: white;
  color: black;
}