.cadastro-container{
    .div1{
        background-color: white;
    }
    .div2{
        background-color: white;
    }
}

#body{
    background-color: #00296b;
}

  .bola {
    border-radius: 50%;
    background: linear-gradient(45deg, #00296b, #3da5d9);
    opacity: 0.6;
  }

  input{
    background: #f7d868;
    padding: 2%;
  }

  
.btnLogin {
  width: 100%;
}

  ion-button.btnLogin::part(native) {
    margin: 20px 0 10px 0;
    background-color: #3da5d9 ;
    border: 1.5px solid #00296b;
    box-shadow: none;
    color: white;
    border-radius: 20px;
    cursor: pointer;
    padding: 5%;
}

.btnLogin::part(native):hover {
background-color: #00296b;
border: 1.5px solid #3da5d9;
}

.btnCadastrar {
width: 100%;
}

ion-button.btnCadastrar::part(native) {
    margin: 20px 0 10px 0;
    background-color: #3da5d9 ;
    border: 1.5px solid #00296b;
    box-shadow: none;
    color: white;
    border-radius: 20px;
    cursor: pointer;
    padding: 5%;
}

.btnCadastrar::part(native):hover {
background-color: #00296b;
border: 1.5px solid #3da5d9;
}