@media (min-width: 768px) and (max-width: 1023px) {
    ion-button.btnRelatorio {
        width: 30%; 
    }
}

@media (max-width: 767px) {
    .espacoRelatorio {
        padding-right: 5%;
        padding-left: 5%;
    }
    ion-button.btnRelatorio {
        width: 50%; 
    }
}

@media (max-width: 320px) {
    ion-button.btnRelatorio {
        width: 60%; 
    }
}
