@media (min-width: 1025px){
    .loginContainer{
        grid-template-columns: 1fr 1fr;  
    }

    .div1{
        grid-column-start: 1;
    }
    .div2{
        grid-column-start: 2;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .loginContainer{
        grid-template-columns: 1fr 1fr;  
    }

    .div1{
        grid-column-start: 1;
    }
    .div2{
        grid-column-start: 2;
    }
}

@media (min-width: 425px) and (max-width: 767px){
    .div2 {
        padding-top: 10%; 
        border-radius: 20px;
    }
}

@media (max-width: 767px) {
    .loginContainer{
        grid-template-rows: 1fr 2fr;  
        grid-template-columns: 1fr;
        height: fit-content;
        gap: 0;
        border-radius: 20px !important;
    }

    .div1{
        grid-row-start: 1;
        grid-column-start: 1;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: row;
        padding-left: 2%;
        height: auto;
    }
    .div2{
        grid-row-start: 2;
        grid-column-start: 1;
        height: auto;
        margin-top: -15%;
    }
}

@media (max-width: 320px) {
    .div2{
        grid-row-start: 2;
        grid-column-start: 1;
        height: auto;
        margin-top: -20%;
    }
}

