.div1{
  border-bottom: 2px solid #00296b;
}

.inputForm {
  border: 1.5px solid #ecedec;
  border-radius: 10px;
  width: 100%;
  display: flex;
  align-items: center;
  padding-left: 10px;
  padding: 3%;
  transition: 0.2s ease-in-out;
  background-color: white;
}

.btnEntrar {
    width: 100%;
}

ion-button.btnEntrar::part(native) {
  margin: 20px 0 10px 0;
  background-color: #3da5d9 ;
  border: 1.5px solid #00296b;
  box-shadow: none;
  color: white;
  border-radius: 20px;
  cursor: pointer;
  padding: 5%;
}

.btnEntrar::part(native):hover {
  background-color: #00296b;
  border: 1.5px solid #3da5d9;
}

.btnCadastrar {
  width: 100%;
}

ion-button.btnCadastrar::part(native) {
  margin: 20px 0 10px 0;
  background-color: #3da5d9 ;
  border: 1.5px solid #00296b;
  box-shadow: none;
  color: white;
  border-radius: 20px;
  cursor: pointer;
  padding: 5%;
}

.btnCadastrar::part(native):hover {
  background-color: #00296b;
  border: 1.5px solid #3da5d9;
}

.linhas {
    border-bottom: rgb(155, 155, 155) 2px solid;
    width: 40%;
}

#txtOu {
    padding-left: 5%;
    padding-right: 5%;
    font-size: 1rem;
}

.btnGoogle {
    width: 100%;
}

ion-button.btnGoogle::part(native) {
  margin: 20px 0 10px 0;
  border: #ea7317 2px solid;
  background-color: white;
  box-shadow: none;
  color: white;
  border-radius: 20px;
  cursor: pointer;
  color: black;
  padding: 5%;
}

.btnGoogle::part(native):hover {
  background-color: #ea7317;
  border: 1.5px solid #974200;
  color: white;
}
