p {
    padding: 0;
}

.size {
    font-size: 1.2rem;
}

.sizeLogin {
    font-size: 1.5rem;
}

.inputForm {
  border: 1.5px solid #ecedec;
  border-radius: 10px;
  height: 8%;
  width: 100%;
  display: flex;
  align-items: center;
  padding-left: 10px;
  transition: 0.2s ease-in-out;
  background-color: white;
}

.input:focus {
  outline: none;
}

.inputForm:focus-within {
  border: 1.5px solid #2d79f3;
}

.botaoLogin {
    width: 100%;
}

ion-button.botaoLogin::part(native) {
  margin: 20px 0 10px 0;
  background-color: #ea7317;
  box-shadow: none;
  color: white;
  font-size: 15px;
  font-weight: 500;
  border-radius: 20px;
  height: 50px;
  cursor: pointer;
}

.botaoLogin::part(native):hover {
  background-color: #974900;
}

.linhaOu {
    border-bottom: rgb(155, 155, 155) 2px solid;
    width: 40%;
}

#txtOu {
    padding-left: 5%;
    padding-right: 5%;
    font-size: 1rem;
}

.botaoGoogle {
    width: 100%;
}

ion-button.botaoGoogle::part(native) {
  margin: 20px 0 10px 0;
  border: #ea7317 2px solid;
  background-color: white;
  box-shadow: none;
  color: white;
  font-size: 15px;
  font-weight: 500;
  border-radius: 20px;
  height: 50px;
  cursor: pointer;
  color: black;s
}

.botaoGoogle::part(native):hover {
  background-color: #974900;
}
