@media (max-width: 767px) {
    section {
        display: flex;
        flex-direction: column;
    }

    .titulo {
        font-size: 2rem !important;
    }
    .subtitulo {
        font-size: 1.5rem !important;
    }

    .iconesTxtM {
        font-size: 1rem; 
    }

    #celular {
        width: 60% !important;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    section {
        display: grid;
    }

    #s1, #s2 {
        grid-template-columns: 1fr 1fr;
    }
    #s3 {
        grid-template-rows: 1fr 3fr;
    }
    #s4{
        grid-template-rows: 1fr 1fr; 
    }

    .titulo {
        font-size: 3rem !important;
    }
    .subtitulo {
        font-size: 1.5rem !important;
    }

    .iconesTxtM {
        font-size: 2rem !important; 
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    #s3 {
        grid-template-rows: 1fr 1fr;
    }

    #celular {
        width: 60% !important;
    }
}


@media (min-width: 1025px) {
    section {
        display: grid;
    }

    #s1, #s2 {
        grid-template-columns: 1fr 1fr;
    }
    #s3 {
        grid-template-rows: 1fr 3fr;
    }
    #s4{
        grid-template-rows: 1fr 1fr; 
    }

    .titulo {
        font-size: 3.5rem !important;
    }
    .subtitulo {
        font-size: 2rem !important;
    }

    .iconesTxtM {
        font-size: 2rem !important; 
    }
}