#s1 {
    background-color: #f1ebd7;
}

#s3 {
    background-color: #3da5d9;
}

.titulo {
    font-family: Gill Sans, sans-serif !important;
    font-weight: 700 !important;
    padding: 0 !important;
    text-align: center !important;
    color: black !important;
}

.subtitulo {
    font-family: Gill Sans, sans-serif !important;
    font-weight: 500 !important;
    padding: 0;
    text-align: center;
    color: black !important;
}

h1 {
    padding: 0;
}

.iconesM {
    font-size: 5rem; 
    color: white;
}

#m1 {
    background-color: rgb(185, 39, 39);
}

#m2 {
    background-color: rgb(64, 193, 216);
}

#m3 {
    background-color: rgb(161, 85, 22);
}

#m4 {
    background-color: rgb(206, 81, 139);
}

#m5 {
    background-color: rgb(202, 182, 5);
}

#m6 {
    background-color: rgb(24, 136, 211);
}

#m7 {
    background-color: rgb(58, 128, 18);
}

#m8 {
    background-color: rgb(219, 132, 19);
}

#m9 {
    background-color: rgb(112, 30, 179);
}

#m10 {
    background-color: rgb(196, 28, 6);
}

.iconesTxtM {
    color: white;
}

