@media (max-width: 768px) {
    #modalAvaliar {
      margin: 5%;
    }
}

@media (max-width: 767px){
    .colPrincipal,
  .colSecundaria {
    width: 100% !important;
    min-width: 100% !important;
    max-width: 100% !important;
    flex: 0 0 100% !important;
  }

  .colPrincipal > div,
  .colSecundaria > div,
  .metadeColuna {
    border-bottom: 1px solid #ccc;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
  }
  * {
    border-left: none !important;
    border-right: none !important;
  }
}

@media (min-width: 1440px) {
  .colPrincipal {
    width: 100% !important;
    min-width: 100% !important;
    flex: 0 0 100% !important;
    max-width: 100% !important;
    border-bottom: 1px solid #ccc;
  }

  .colSecundaria {
    width: 100% !important;
    flex: 0 0 100% !important;
    max-width: 100% !important;
    display: flex; 
    gap: 1rem; 
    border-bottom: none;
  }

  .colSecundaria > div {
    width: 50%;
    border-bottom: none;
  }

  .colSecundaria > div:first-child {
    border-right: 1px solid #ccc !important;
  }

  .imagemConteudo {
    width: 30%;
    height: auto;
    display: block;
    margin: 0 auto; 
    margin-bottom: 2%;
  }
   .colSecundaria {
    border-left: none !important;
    border-right: none !important;
  }
  .flexImgsWide {
    display: flex;
    flex-direction: row !important;
    flex-wrap: wrap;
  }
}