.atividade-visualizacao {
  padding: 16px;
}

.atividade-visualizacao .titulo {
  font-size: 24px;
  margin-bottom: 8px;
}

.atividade-visualizacao .descricao {
  margin-bottom: 8px;
}

.atividade-visualizacao .tipo {
  margin-bottom: 16px;
  color: #666;
}

.linhaHorizontal {
  height: 2px;
  background-color: var(--ion-color-primary);
  margin: 12px 0;
}

.conteudo-item {
  margin-bottom: 16px;
}

.imagemConteudo {
  max-width: 100%;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

.iconeConteudo {
  margin-right: 8px;
  color: var(--ion-color-primary);
  font-size: 20px;
  vertical-align: middle;
}

.btn-voltar {
  margin: 10px;
}

#modalAvaliar::part(content) {
  border-radius: 20px;
}

.contVoltar {
    width: 100% !important;
    display: flex;
    padding-left: 2%;
    margin-top: 2%;
    align-items: center;
    cursor: pointer;
}

.voltarAtividades, .txtVoltarAtividades {
  color: black;
}

.txtVoltarAtividades {
  padding: 0;
  margin: 0;
}

.rowAvaliarAtiv {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 10%;
}

.btnAvaliarAtiv {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.3s;
    width: 45%;
  }

  ion-button.btnSalvarAvaliacao::part(native) {
    background-color: #3da5d9;
    border: 0.5px solid #00296b;
    color: white;
    border-radius: 20px;
    box-shadow: none;
}

  ion-button.btnSalvarAvaliacao::part(native):hover {
    background-color: #00296b;
}


  ion-button.btnCancelarAvaliacao::part(native) {
    background-color: #fec601;
    border: 0.5px solid #ea7317;
    color: black !important;
    border-radius: 20px;
    box-shadow: none;
}

  ion-button.btnCancelarAvaliacao::part(native):hover {
    background-color: #ea7317;
}

@media (max-width: 768px) {
    #modalAvaliar {
      margin: 5%;
    }
}
